{% extends "issues/base.html" %}

{% block content %}
<div class="col-md-8 mx-auto">
  <div class="card shadow-sm">
    <div class="card-body">
      <h3>О проекте SocialSolver</h3>
      <p class="mt-3">
        SocialSolver — это веб-платформа для фиксации и анализа
        актуальных социальных проблем.
      </p>
      <p>
        Цель проекта — структурирование информации и поддержка
        принятия решений в социальной сфере.
      </p>
      <hr>
      <p class="text-muted">
        Разработчик: <b>Халилов Курбон и Каджардузов Роман</b><br>
        Год разработки: 2026
      </p>
    </div>
  </div>
</div>
{% endblock %}
